body {
    margin: auto;
    min-height: 100vh;
    background: #5ECCD2 none no-repeat fixed 50% 50%;
    background: -moz-radial-gradient(center, #0dfbd7 0%, #C6D747 42%, #29C042 100%);
    background: -webkit-radial-gradient(center, #0dfbd7 0%, #C6D747 42%, #29C042 100%);
    background: radial-gradient(ellipse at center, #0dfbd7 0%, #C6D747 42%, #29C042 100%);
}

nav ul {
    width: 100%; list-style: none; display: flex;
    justify-content: flex-end; align-items: center;}
nav li {
    height: 100%;}
nav a {
    height: 100%; padding: 10px 20px; display: flex;
    text-decoration: none; align-items: center;
    color:rgb(255, 255, 255)}
nav a:hover {
    background-color:rgb(66, 99, 33); color:rgb(197, 233, 203);
    text-decoration: none;}
nav li:first-child {
    margin-right: auto;}
nav {
    background-color: rgb(73, 159, 39); font-size:20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.444);
    align-items: center;
}


.MainMenu {
    background-color: rgb(1, 202, 108);
    display: grid;
    justify-items: start;
}

.mainicon {
    display: block; padding: 4px 0px;
    width: 75px; 
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}


.MainDrdw {
    background-color: rgb(43, 99, 3); font-size:22px; 
    box-shadow: -10px 0 10px rgba(190, 190, 190, 0.429);
    position: fixed; top: 0; right: 0;
    height: 100vh; width: 250px; z-index: 999;
    backdrop-filter: blur(20px);
    
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.MainDrdw-Hidden {
    background-color: rgb(43, 99, 3); font-size:22px; 
    box-shadow: -10px 0 10px rgba(190, 190, 190, 0.429);
    position: fixed; top: 0; right: 0;
    height: 100vh; width: 250px; z-index: 999;
    backdrop-filter: blur(20px);
}
.MainDrdw li {width: 100%;}
.MainDrdw a {width: 100%;}

.menu-button {display: none;}
/*.menu-button_second a:hover {background-color: rgb(73, 159, 39);}*/

.Navigation {
    background-color: rgb(19, 91, 4);
    color: #ffffff;
    justify-self: end;
}


@media (max-width: 800px)
{.hideMobile {display: none;}
.menu-button {display: none;}}

@media (max-width: 400px)
{.MainDrdw {width: 100%;}}

@keyframes mainbarslide { 100% {transform: translate(-50px, 0px)}}

footer {

}


html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}


/* h1 {
    font-family: AR Christy, Kozuka Gothic Pr6N, Cooper std;
    color: rgb(229, 255, 0);
    text-shadow: 2px 0 0 #CEA40C, 0 0px 0 #CEA40C, 0 2px 0 #CEA40C, 0px 0 0 #CEA40C;
    width: 700px;
    margin: 10px auto;
    text-align: center;
    font-size:33px;
    color: #0a3002c8;
}

a {
    background-color: rgb(0, 255, 30);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(71, 72, 13);
    text-shadow: 1px 2px 2px rgba(14, 15, 44, 0.29);
    font-size:x-large;
    text-align:center;
    padding:12px 12px;
    margin:auto;
    border: #1BD29B; border-style:outset; border-radius: 17px;
}
a:hover {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 255, 183);
    color: rgb(170, 0, 255);
    font-size:x-large;
    text-align:center;
    display: flex;
    padding:12px 12px;
    border: #1BD29B; border-style:outset; border-radius: 17px;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
a:active {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(1, 7, 2);
    color: rgb(255, 0, 208);
    font-size:x-large;
    text-align:center;
    display: flex;
    padding:12px 12px;
    border: #1BD29B; border-style:inset; border-radius: 17px;
}


i {
    font-family: AR Christy, Kozuka Gothic Pr6N, Cooper std;
    color: White;
    text-shadow: 2px 0 0 #CEA40C, 0 0px 0 #CEA40C, 0 2px 0 #CEA40C, 0px 0 0 #CEA40C;
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

dt {
    color: #1BD29B;
    text-shadow: 4px 0 0 #CEA40C, 0 0px 0 #CEA40C, 0 4px 0 #CEA40C, 0px 0 0 #CEA40C;
    font-size: 45pt;
    padding: 10px;
}

dd {
    color: White;
    padding: 5px 10px 5px 10px; 
    background: #f03; 
    border: solid 2px #fff;
}

p {
    padding: 2px;
    border: solid 2px #b01a1a;
    font: 20px bold;
}

.FormBake {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
    padding: 5pt;
    border: solid 6px #b01a1a;
    border-radius: 15px;
    align-items: center;
    color:rgb(10, 72, 18);
    font-size: x-large;
    width: fit-content;
    background: #ffffff none no-repeat scroll 0 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.FormBake > label {
    padding: 5pt;
}

.Primary {
    background: #f5f5f5;
    border: 11px ridge rgba(38,45,212,0.62);
    border-radius: 7px;
    margin: 5px 5px;
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    inline-size: 45pc;
    overflow-wrap: break-word;
    display:inline-block;
}

.Secondary {
    background: #F4F4F4 none no-repeat scroll 0 0;
    border: 6px ridge rgba(7, 63, 5, 0.877);
    border-radius: 7px;
    padding: 10px;
    margin: auto;
    width: auto;
    inline-size: 25pc auto;
    overflow-wrap: break-word;
    display:inline-block;
}

.Tertiary {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 34, 255);
    margin: 5px 5px;
    color: #aaef1f;
    font: 28px bolder x-large;
    text-align:center;
    padding: 8px 1%;
    border: #1BD29B; border-style:inset; border-radius: 0px 0px 23px 23px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 1px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 1px 0px rgba(0,0,0,0.33);
}*/